        askpass       backports       base64enc             bit           bit64            blob           broom 
      "askpass"     "backports"     "base64enc"           "bit"         "bit64"          "blob"         "broom" 
          bslib          cachem           callr      cellranger             cli           clipr      colorspace 
        "bslib"        "cachem"         "callr"    "cellranger"           "cli"         "clipr"    "colorspace" 
     commonmark      conflicted           cpp11          crayon     credentials            curl      data.table 
   "commonmark"    "conflicted"         "cpp11"        "crayon"   "credentials"          "curl"    "data.table" 
            DBI          dbplyr            desc          digest           dplyr          dtplyr        ellipsis 
          "DBI"        "dbplyr"          "desc"        "digest"         "dplyr"        "dtplyr"      "ellipsis" 
       evaluate           fansi          farver         fastmap     fontawesome         forcats              fs 
     "evaluate"         "fansi"        "farver"       "fastmap"   "fontawesome"       "forcats"            "fs" 
         gargle        generics            gert         ggplot2              gh        gitcreds            glue 
       "gargle"      "generics"          "gert"       "ggplot2"            "gh"      "gitcreds"          "glue" 
    googledrive   googlesheets4          gtable           haven            here           highr             hms 
  "googledrive" "googlesheets4"        "gtable"         "haven"          "here"         "highr"           "hms" 
      htmltools          httpuv            httr           httr2             ids             ini         isoband 
    "htmltools"        "httpuv"          "httr"         "httr2"           "ids"           "ini"       "isoband" 
        janitor       jquerylib        jsonlite           knitr        labeling           later       lifecycle 
      "janitor"     "jquerylib"      "jsonlite"         "knitr"      "labeling"         "later"     "lifecycle" 
      lubridate        magrittr         memoise            mime          modelr         munsell         openssl 
    "lubridate"      "magrittr"       "memoise"          "mime"        "modelr"       "munsell"       "openssl" 
        packrat          pillar       pkgconfig     prettyunits        processx        progress        promises 
      "packrat"        "pillar"     "pkgconfig"   "prettyunits"      "processx"      "progress"      "promises" 
             ps           purrr              R6            ragg        rappdirs    RColorBrewer            Rcpp 
           "ps"         "purrr"            "R6"          "ragg"      "rappdirs"  "RColorBrewer"          "Rcpp" 
          readr          readxl         rematch        rematch2            renv          reprex           rlang 
        "readr"        "readxl"       "rematch"      "rematch2"          "renv"        "reprex"         "rlang" 
      rmarkdown       rprojroot       rsconnect      rstudioapi           rvest            sass          scales 
    "rmarkdown"     "rprojroot"     "rsconnect"    "rstudioapi"         "rvest"          "sass"        "scales" 
        selectr           shiny       snakecase     sourcetools         stringi         stringr             sys 
      "selectr"         "shiny"     "snakecase"   "sourcetools"       "stringi"       "stringr"           "sys" 
    systemfonts     textshaping          tibble           tidyr      tidyselect    tidytuesdayR       tidyverse 
  "systemfonts"   "textshaping"        "tibble"         "tidyr"    "tidyselect"  "tidytuesdayR"     "tidyverse" 
     timechange         tinytex            tzdb         usethis            utf8            uuid           vctrs 
   "timechange"       "tinytex"          "tzdb"       "usethis"          "utf8"          "uuid"         "vctrs" 
    viridisLite           vroom         whisker           withr            xfun            xml2          xtable 
  "viridisLite"         "vroom"       "whisker"         "withr"          "xfun"          "xml2"        "xtable" 
           yaml             zip            base            boot           class         cluster       codetools 
         "yaml"           "zip"          "base"          "boot"         "class"       "cluster"     "codetools" 
       compiler        datasets         foreign        graphics       grDevices            grid      KernSmooth 
     "compiler"      "datasets"       "foreign"      "graphics"     "grDevices"          "grid"    "KernSmooth" 
        lattice            MASS          Matrix         methods            mgcv            nlme            nnet 
      "lattice"          "MASS"        "Matrix"       "methods"          "mgcv"          "nlme"          "nnet" 
       parallel           rpart         spatial         splines           stats          stats4        survival 
     "parallel"         "rpart"       "spatial"       "splines"         "stats"        "stats4"      "survival" 
          tcltk           tools           utils 
        "tcltk"         "tools"         "utils" 
